# Build directories
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# macOS
.DS_Store

# Generated code (regenerated during build)
generated/

# Generated textures (regenerated during build)
assets/textures/foam_noise.png

# Compiled shaders (regenerated during build)
*.spv
vcpkg_installed/
vcpkg/

downloads/
assets/terrain/*
terrain/*
docs/subs/*

ez-tree-main
assets/textures/caustics.png
assets/textures/downloads
TownGeneratorOS
